@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #61dafbaa;
  --background: #000000;
  --foreground: #ffffff;
  --text: #666666;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


b {
  text-decoration: dashed;
}

a {
  text-align: justify;
  margin-right: 1rem;
  transition: all 300ms;
}

span {
  max-width: 10px;
  opacity: 50%;
  margin-right: 0.5rem;
}

a:hover {
  color: var(--primary);
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  place-items: center;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  font-weight: 500;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  width: 100px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  font-family: inherit;
  background-color: #FFF;
  color: #000000;
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  background-color: #000000;
  color: #FFF;
  border-color: #FFF;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
